@import "tailwindcss";

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
  margin: 10px 0;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(#6A3FA0, #B58ED6);
  border-radius: 20px;
  border: 2px solid transparent;
  background-clip: content-box;
}

/* 🌙 DARK MODE (CLEAN) */
.dark body {
  background: #000;
  color: #fff;
}

/* Headings */
.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6 {
  color: #fff;
}

/* Paragraph / normal text */
.dark p,
.dark span {
  color: #ddd;
}